body{
  background-image: url("https://i.postimg.cc/ydF7GYNC/fondo.png");
  background-repeat: no-repeat;
  background-size: cover;
}

p{
  font-family: 'Courier New', Courier, monospace;
  color: blue;
}

.imagen-principal{
  padding-top: 7%;
}